
.Login{
    background-image:url("../Assets/backgroundLogin.svg") ;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
.LoginComponent {
    display: flex;
    min-width: 200px;
    flex-direction: column;
    align-items: center;
    margin-block: auto;
    margin-inline: auto;
    justify-content: center;
}


.LoginComponent h1 {
    color: var(--clr-light);
    text-align: center;
}


.loginFormulario {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-light);
    padding: 4vw;
    border-radius: 10px;
    width: 45vw;
    height: 100%;
}
@media(max-width: 1000px){
    .loginFormulario{
        width:60vw; 
        padding: 6vw;
     
    }
}
@media(max-width: 680px){
    .loginFormulario{
        width:90vw; 
        padding: 10vw;
    }
}




.loginFormularioSubtitle{
    color: var(--clr-gray);
    text-align: center;
}


.loginFormularioInputContainer{
    padding-block: 0.6em;
}
.loginFormularioInputContainer h3{
    padding: 0;
    margin: 0;
    color: var(--clr-gray);
}
.loginFormularioInput{
    width: 100%;
    outline: none;
    text-align: left;
    font-size: var(--fs-h3);
    background-color: var(--clr-input) ;
    all:none;
    border: 0;
    border-radius: 10px;
    color: var(--clr-accentEndPoint);
    padding: 0.3em;
    font-family: 'Lato', sans-serif;
}
.loginFormularioInput::placeholder{
    font-size: var(--fs-body);
    color: hsl(0, 0%, 70%);
}


.loginFormularioSelect{
    background-color: var(--clr-accentLessOpaque) !important;
    color: var(--clr-light);
    border-radius: 15px 15px 0 0;
    padding: 0.5em;
    font-size: var(--fs-body);
    margin-block: 0.5em;
    all: none;
    appearance: none;
    border: none;
    transition: transform 200ms ease-in-out, box-shadow 250ms ease-in-out;
}
.loginFormularioSelect:hover, .loginFormularioSelect:focus {
    transform: scale(1.05);
    box-shadow: var(--bs);
    outline: none;
  }



.loginFormularioForgot{
    text-align: right;
    margin-top: 0;
    color: hsl(0, 0%, 65%);
    display: inline-block;
}
.loginFormularioForgot a{
    cursor: pointer;
}
.loginFormularioForgot a:hover{
    text-decoration: underline;
}




.loginFormularioSubmit{
    width: 100%;
    cursor: pointer;
    padding: 1em 0;
    background-color: var(--clr-accent); 
    color: var(--clr-light);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out, box-shadow 250ms ease-in-out;
    border-radius: 10px;     
    margin: auto;
    margin-top: 0.5em;
  }
  .loginFormularioSubmit:hover {
    transform: scale(1.05);
    box-shadow: var(--bs);
  }
  .loginFormularioSubmit:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
    z-index: 30;
    border-radius: 10px;
  }


  .loginFormularioRegister{
    color: var(--clr-light);
    text-align: center;
  }
  .loginFormularioRegister a{
      color: aqua;
      text-decoration: none;
  }
  .loginFormularioRegister a:hover{
    text-decoration: underline;
  }


  .loginMensaje {
      display:inline-block;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      padding: 0.7em;
      margin-block: 0;
      color: var(--clr-light);
  }
  .loginExito{
    background-color: green;
  } 
  .loginFallo {
      background-color: red;
  }